<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel Website - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Travel Website</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="/most-visited">Most Visited</a></li>
                <li class="nav-item"><a class="nav-link" href="/cheap-cost">Cheap Cost</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>Welcome to the Best Travel Website</h1>
        <p>Explore destinations, services, and the best deals around the world</p>
        <a href="/services" class="btn btn-primary">Explore Services</a>
    </div>
</body>
</html>
