<!DOCTYPE html>
<html lang="en">
<head>
    <title>Most Visited Places - Travel Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <h1 class="mt-5">Most Visited Places</h1>
        <p>Discover the most popular travel destinations.</p>
        <div class="row mt-4">
            {% for place in places %}
            <div class="col-md-4">
                <h3>{{ place.name }}</h3>
                <p>Location: {{ place.location }}</p>
                <p>Visits: {{ place.visits }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
